<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap Navbar with Logo Image</title>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">
                <img src="assets/logo.png" height="28" style="width:30px;" alt="CoolBrand">
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" style="font-size: large; font-weight: bold;">Wissen Airlines</a>
                    <a routerLink="/" class="nav-item nav-link">Home</a>
                    <a routerLink="/contact" class="nav-item nav-link">Contact Us</a>
                    <a routerLink="/about" class="nav-item nav-link">About Us</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <a routerLink="/book" class="nav-item nav-link">Book Flight</a>
                </div>
            </div>
        </div>
    </nav>

<div class="contianer-fluid" style="width: 100%; height: 500px;">
    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let image of images">
            <div class="wrapper">
                <img [src]="image.src" alt="images of carousel">
    
            </div>
         
    
      
    </ng-template>
    </ngb-carousel>
    </div> 
    <app-footer></app-footer>
</div>

   
</body>
</html>
